body {
    overflow: hidden;
}

.list {
    width: 180px;
    height: 820px;
    background-color:rgba(9, 54, 96, .9);
    float: left;
    position: absolute;
    top: 0;
    z-index: 9999;
    text-align: center;
    font-family: 'Passion One', sans-serif;

}

.list img {
    padding: 10px;
    width: 130px;
    margin-top: 100px;
    border-radius: 50%;
}

.list p {
    margin-bottom: 100px;
    color: bisque;
}

.list ul li {
    list-style-type: none;
    margin-left: -40px;
    font-size: 20px;
    margin-bottom: 5px;
}

.list ul li a {
    color: white;
    text-decoration: none;
}

.list ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: lightblue;
    padding: 5px;
    border-radius: 3px;
}

.main {
    font-family: 'Passion One', sans-serif;
    background-color: whitesmoke;
    height: 820px;
    background-image: url(https://images.pexels.com/photos/636353/pexels-photo-636353.jpeg?cs=srgb&dl=pexels-magda-ehlers-636353.jpg&fm=jpg);
    background-size: cover;
    position: relative;
    text-align: center;
}

.main h1 {
    color: white;
    text-shadow: 
        4px 3px 0px #333,
        9px 8px 0px rgba(0, 0, 0, .15);
}

.main .firstpa {
    position: absolute;
    left: 430px;
    width: 1000px;
}


.main .secondpa {
    position: absolute;
    top: 300px;
    left: 430px;
    width: 1000px;
}

.main .thirdpa {
    position: absolute;
    text-align: center;
    top: 500px;
    left: 430px;
    width: 1000px;
}